---
---

.wrapper {
  width:80%;
  margin:0 auto;
}


@import "{{ site.theme }}";

.wrapper {
  width:85%;
  margin:0 auto;
}

section {
  width:73%;
  //float:right;
  position: relative;
  padding-bottom:50px;
}
